.model-base .model   *[class^='col-xs-'] {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.containermain{
    height: 90vh;
    background: url(C:\Users\mani0\OneDrive\Desktop\Leetcode\leetcode\src\Images\bglc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.inner-row1{
    margin-left: 70px;
    display: flex;
}
.model-base{
    margin-top: 100px;
}/*
.model-base .model {
    position: relative; 
    transform: rotate(-8deg);
    transform-origin: 50% 50%;
    width: 414px;
    height: 284px;
    border-radius: 30px;
    background: #ffff;
    box-shadow: inset 0 4px 7px 1px #ffffff, inset 0 -5px 20px rgb(203, 192, 192,0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
}
 /*
 
 bg color 

*//*
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}*/
.introtitle{
    margin: auto;
    margin-right: 65px;
}
.content {
    margin-top: 100px;
    color: rgb(26, 2, 2);
}
.text-center{
    text-align: center;
}
.h1{
    font-weight: 500;
    font-size: 40px;
    color: rgb(253, 250, 250);
    
}
.content p {
    margin-bottom: 1rem; 
    margin-top: 40px;
    opacity: 0.5;
    font-weight: 400;
}
#btn{
    margin-top: 30px;
    background: #1da09c;
    border-radius: 15px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 15px;
    
}
.block {
    display: inline-block;
    padding: 5px;
    height: 65px;
    width: calc(100% / 4);
}   
.blue{
     background: linear-gradient(#96d1f9,#00cded);
}  
.animibk{

    margin-top: -90px;
    margin-right: 20px;
    shape-outside: #ddf;
}